@using Web.Models
@model List<Movie>
<div class="section">
    <div class="container">
        <div class="section-header">
            latest cartoons
        </div>
        <div class="movies-slide carousel-nav-center owl-carousel owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-310px, 0px, 0px); transition: all 0s ease 0s; width: 2170px;">
                    @foreach (var item in Model)
                    {
                    <div class="owl-item" style="width: 295px; margin-right: 15px;">
                        <a href="@Url.Action("DetailMovie","Detail",new { @MovieID = item.MovieID})" class="movie-item">
                            <img src="@Url.Content("~/Images/Index/"+item.Image)" alt="">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    @item.Name
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="bx bxs-star"></i>
                                        <span>@item.Rate</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="bx bxs-time"></i>
                                        <span>@item.Time</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>HD</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    }
                    </div>
            </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="bx bx-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="bx bx-chevron-right"></i></button></div><div class="owl-dots disabled"></div>
        </div>
    </div>
</div>
