@model Web.Models.Movie
@using Web.Models;

    <div class="section">
        <div class="hero-slide-item">
            <img src="~/Images/Index/transformer-banner.jpg" alt="">
            <div class="overlay"></div>
            <div class="hero-slide-item-content">
                <div class="item-content-wraper">
                    <div class="item-content-title">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>     @Html.DisplayFor(model => model.Rate)</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>     @Html.DisplayFor(model => model.Time)</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>16+</span>
                        </div>
                    </div>
                    <div class="item-content-description">
                        @Html.DisplayFor(model => model.Description)
                    </div>
                    <div class="item-action">
                        <a href="@Url.Action("DetailMovie","Detail",new { @MovieID =@Html.DisplayFor(model => model.MovieID)})" class="btn btn-hover">
                            <i class="bx bxs-right-arrow"></i>
                            <span>Watch now</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}