@model Web.Models.Movie
@using Web.Models;

@{
    ViewBag.Title = "DetailMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var a =ViewBag.Cast;
}
<link href="~/css/Detail/css.css" rel="stylesheet" />
<link href="~/css/Detail/classy-nav.css" rel="stylesheet" />
<link href="~/css/Detail/font-awesome.min.css" rel="stylesheet" />
<style>
    .btn {
        cursor: pointer;
    }
</style>
<div class="container clear_navar" style="padding-top: 60px;">
    <div class="row" style="max-width: 100%;">

        <div class="col-xl-8" style="height: auto; padding-top: 40px">
            <div class=" detail">
                @*<div style="   background-image :src(" /Images/Index/wanda-banner.jpg")">*@
                    <div class="row" style="margin: 10px; box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 40%); ">

                        <div style="width :50%" class="col-12 col-sm-4 col-md-4 ">
                            <div class="section-header">
                                @Html.DisplayFor(model => model.Name)
                            </div>
                            @*<img width="40%" src="@Url.Content("~/Images/Index/"+@Html.DisplayFor(model => model.Image))">*@
                        <div>
                            <div class="container2">
                                <style>
                                    .cover:before {
                                        background-image: url('../../Images/Banner/@Html.DisplayFor(model => model.Banner)');
                                        background-repeat: no-repeat;
                                    }
                                </style>
                                <div class="cover">

                                    <div class="columntag">
                                        <div class="tag1">Adventure</div>
                                        <div class="tag2">Fantasy</div>
                                        <div class="tag3">Drama</div>
                                    </div>
                                    @*<div class="menu">

                                        <div class="title">Game of Thrones</div>
                                        <div class="rating">
                                            IMDb <span class="fa fa-star"></span><span> 9.5/10</span>
                                        </div>

                                    </div>*@
                                </div>
                                <div class="info">
                                    <div class="cast">
                                        <h2>Cast:</h2>
                                        @foreach (var item in ViewData["Actors"] as List<Cast_Movie>)
                                        {
                                            <a href="#" data-tooltip="@item.Cast.FullName" data-placement="top">
                                                <img src="~/Images/Actors/@item.Cast.Images" alt="avatar1" />
                                            </a>
                                        }
                                            @*<a href="#" data-tooltip="Peter Dinklage" data-placement="top">
                <img src="https://pbs.twimg.com/profile_images/3408187873/3ac928389d4a3f78b8a1bfb8dd42cec3_normal.jpeg" alt="avatar1" />
            </a>
            <a href="#" data-tooltip="Emilia Clarke" data-placement="top">
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRu-erGhZPhzH0Aq5s8UKFOQL0GNFVqnlN3C08Fayjm_R9nvuYHPQ" alt="avatar3" />
            </a>
            <a href="#" data-tooltip="Zendaya" data-placement="top">
                <img src="~/Images/Actors/zendaya1_Fotor (1).jpg" alt="avatar3" />
            </a>
            <a href="#" data-tooltip="Tom Holland" data-placement="top">
                <img src="~/Images/Actors/images-_3_ (1).jpg" alt="avatar3" />
            </a>*@

                                        </div>
                                    <div class="text">
                                        While a civil war brews between several noble families in Westeros, the children of the former rulers of the land attempt to rise up to power. Meanwhile a forgotten race, bent on destruction, plans to return after thousands of years in the North.
                                    </div>

                                </div>
                            </div>
                        </div>
                        </div>
                        <div style="width: 50%; padding-top: 50px;" class="col-12 col-sm-8 col-md-8">
            <div class="chitiet" style="padding-top: 20px;width:100%;margin:auto">
                <table>
                    <tbody>
                        <tr>
                            <td width="100px" style="color: white; font-weight: bold;">Director</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td width="100px" style="color: white; font-weight: bold;">Cast</td>
                            <td>
                                <div class="avatars">
                                    @foreach (var item in ViewData["Actors"] as List<Cast_Movie>)
                                    {

                                        <a href="#" data-tooltip="Person 1" data-placement="top" style="cursor:pointer;padding-left:15px">
                                            <img src="~/Images/Actors/@item.Cast.Images" alt="avatar1" />
                                        </a>
                                        }
                                    </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="100px" style="color: white; font-weight: bold;">Time</td>
                            <td>120 Minutes</td>
                        </tr>
                        <tr>
                            <td style="color:white; font-weight: bold;">Country</td>
                            <td><a>America</a></td>
                        </tr>
                        <tr>
                            <td style="color: white; font-weight: bold;">Genre</td>
                            <td>@Html.DisplayFor(model => model.Category.NameCategory)</td>
                        </tr>
                        <tr>
                            <td style="color: white; font-weight: bold;">Date Release</td>
                            <td data-v-7c633b6c=""><a>@Html.DisplayFor(model => model.Year)</a></td>
                        </tr>
                        <tr>
                            <td style="color: white; font-weight: bold;">Views</td>
                            <td data-v-7c633b6c=""><a>13</a></td>
                        </tr>
                        <tr>
                            <td style="color: white; font-weight: bold;">IMDB</td>
                            <td data-v-7c633b6c=""><a><span class="fa fa-star"></span>7.4/10</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="padding-top: 25px;">
                <ul class="nav-menu" id="nav-menu">
                    <li>
                        @if (Session["User"] != null)
                        {
                            <a href="@Url.Action("Index","Watch",new {@MovieID = Model.MovieID })" class="btn btn-hover">
                                <span>Watch Now</span>
                            </a>
                        }
                        @if (Session["User"] == null)
                        {   
                            <a id="demo" class="btn btn-hover">
                                <span style="cursor:pointer">Watch Now</span>
                            </a>
                        }
                    </li>
                    <li>
                        <p class="btn btn-hover" onclick="return them('+@Session["TK"]+','+@Model.MovieID+')">

                            <a href="#" class="btn btn-hover">
                                <span style="cursor:pointer">Watch Later</span>
                            </a>
                    </li>
                </ul>
            </div>
        </div>
               
                    </div>
                @*</div>*@
                <div class="film-desc" style="padding-top: 15px; margin: 20px">
                    <span>Nội dung</span>
                    <div id="summary">
                        <p class="collapse" id="collapseSummary">
                            WandaVision is an American television miniseries created by Jac Schaeffer for the streaming service Disney+, based on Marvel Comics featuring the characters Wanda Maximoff / Scarlet Witch and Vision. It is the first television series in the Marvel Cinematic Universe (MCU) produced by Marvel Studios, sharing continuity with the films of the franchise and taking place after the events of the film Avengers: Endgame (2019). Schaeffer served as head writer with Matt Shakman directing.
                            Elizabeth Olsen and Paul Bettany reprise their respective roles as Wanda Maximoff and Vision from the film series, with Debra Jo Rupp, Fred Melamed, Kathryn Hahn, Teyonah Parris, Randall Park, Kat Dennings, and Evan Peters also starring. By September 2018, Marvel Studios was developing a number of limited series for Disney+ centered on supporting characters from the MCU films such as Maximoff and Vision, with Olsen and Bettany returning. Schaeffer was hired in January 2019, with the series officially announced that April, and Shakman joining in August. The series pays homage to past sitcoms, with Maximoff and Vision living in a reality that takes them through different decades of television tropes. Filming began in Atlanta, Georgia, in November 2019, before production halted in March 2020 due to the COVID-19 pandemic. Production resumed in Los Angeles in September 2020 and wrapped that November.
                            WandaVision premiered with its first two episodes on January 15, 2021, and ran for nine episodes, concluding on March 5. It is the first series, and beginning, of Phase Four of the MCU. The series received praise from critics for its recreation of past sitcoms and for the performances of its cast, especially those of Olsen, Bettany, and Hahn, though there was criticism for the finale. It was widely discussed and analyzed by fans based on various popular theories, as well as by commentators for its exploration of grief and nostalgia. The series has received numerous accolades, including 23 Primetime Emmy Award nominations, winning three. WandaVision directly sets up the film Doctor Strange in the Multiverse of Madness (2022), in which Olsen reprises her role as Maximoff, while a spin-off series is in development, with Hahn returning as Agatha Harkness and Schaeffer writing and executive producing.
                        </p>
                        <a class="collapsed" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
                    </div>
                </div>
            </div>
            <div class="section-header">
                TRAILER
            </div>
            <div id="instructions">
                @*<iframe src="https://stream1.linhminaz.com/v/MMsp8iIVyHPz7WU" frameborder="0" allowFullScreen="true" width="640" height="320"></iframe>*@
                <iframe src="@Html.DisplayFor(model => model.MovieLink)" frameborder="0" allowFullScreen="true" width="1280" height="640"></iframe>
                @*<video id="my_video_1" class="video-js vjs-default-skin" width="900px" height="267px"
                           controls preload="none" poster='http://video-js.zencoder.com/oceans-clip.jpg'
                           data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                        <source src="https://stream1.linhminaz.com/v/3aOilI3oLvmGO5j" type='video/mp4' />
                        <source src="https://stream1.linhminaz.com/v/3aOilI3oLvmGO5j" type='video/webm' />
                    </video>*@
            </div>
        </div>
    </div>
</div>
@Html.Action("Load", "Pay")
@Html.Action("Category2", "Home")
@Html.Action("Category1", "Home")
<style type="text/css">
    @@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
body{
    background: var(--body-bg);
}
*, *:before, *:after {
  box-sizing: border-box;
}
.movie-card{
    padding: 40px 0;
    color: #A9A8A3;
}
.container2{
    width: 619px;
    height: 640px;
    margin:0 auto;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.cover{


    height:365px;
    position: relative;
  overflow: hidden;
  z-index:1;
  margin:0;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
.cover:before {
    content:'';
    width:100%; height:100%;
  position:absolute;
  overflow: hidden;
  top:0; left:0;
  z-index: -1;
/*  transform: skewX(20deg);*/
  border-bottom-left-radius: 20px;
 transform-origin:0 0;
    }
h2{
    font-size: 19px;

}
a {
  text-decoration: none;
}
/*a:hover{
    text-decoration:underline;
}*/
.menu{
    text-align: center;
    padding: 40px 0 0 220px;
    z-index:1;

}
.fa{
    color: #ffea00;
}
.rating{

}
.title{
    color: white;
    font-size: 44px;
}
.columntag{
    padding-top: 200px;
}

.tag1, .tag2, .tag3{
    color:black;
    background: white;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  line-height: 16px;
  padding: 3px 8px;
  float:left;
  position: relative;
}
.tag1{
    margin-left: 27px;
}
.tag2{
    margin-top:25px;
    margin-left: -50px;
}
.tag3{
    margin-top:50px;
    margin-left: -45px;
}
.tag1:hover{
    background: #ddd;
}.tag2:hover{
    background: #ddd;
}
.tag3:hover{
    background: #ddd;
}
.info{
    clear:both;
}
.cast{
    float: left;
    width: 250px;
    margin-left: 10px;
padding-top: 35px;
}
.cast img{
    border-radius:50px;
    cursor: pointer;
    border: 3px solid white;

}
.cast img:hover{
    opacity:0.6;
}
.cast a:hover{
    text-decoration: none;
}

.text{
    float:right;
    width: 350px;
    padding-top: 50px;
}
a[data-tooltip] {
  position: relative;
}
a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}
a[data-tooltip]::before {
  /*
   * using data-tooltip instead of title so we
   * don't have the real tooltip overlapping
   */
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  /* we don't want the text to wrap */
  white-space: nowrap;
  text-decoration: none;
}
a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
  display: block;
}

/** positioning **/

a[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 40px;
}
a[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px;
}
</style>
<script>
    function them(e, i) {

        $.ajax({
            type: 'POST',
            url: 'https://localhost:44301/api/MyListApi/Themlist?email=' + e + '&id=' + i,
            dataType: 'json',
            success: function (data) {
                if (data == false)
                    alert("Thêm Vào Danh sách xem sau Không Thành Công");
                else {
                    alert("Thêm Vào Danh Sách xem sau Thành Công");

                }
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });

    }

</script>
