
@model Web.Models.Cast
@using Web.Models;
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Detail/css.css" rel="stylesheet" />
<link href="~/css/Detail/classy-nav.css" rel="stylesheet" />
<link href="~/css/Detail/font-awesome.min.css" rel="stylesheet" />
<style>
    .btn {
        cursor: pointer;
    }
</style>
<div class="container clear_navar" style="padding-top: 60px;">

    <div class="row" style="max-width: 80%">

        <div class="col-xl-8" style="height: auto; padding-top: 40px">
            <div class=" detail">
                <div style="   background-image :src(" /Images/Index/wanda-banner.sjpg")">
                    <div class="row" style="margin: 10px; box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 40%); ">

                        <div style="width :50%" class="col-12 col-sm-4 col-md-4 ">
                            <div class="section-header">
                                @Html.DisplayFor(model => model.FullName)

                            </div>
                            @*<img width="40%" src="@Url.Content("~/Images/Index/"+@Html.DisplayFor(model => model.Image))">*@
                            <img width="40%" src="~/Images/Pictures/@Html.DisplayFor(model => model.Picture)" />
                        </div>
                        <div style="width: 50%; padding-top: 70px;" class="col-12 col-sm-8 col-md-8">
                            <div class="chitiet" style="padding-top: 20px;width:100%;margin:auto">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td width="100px" style="color: white; font-weight: bold;">Birth Name</td>
                                            <td>   @Html.DisplayFor(model => model.BirthName)</td>
                                        </tr>
                                        <tr>
                                            <td width="100px" style="color: white; font-weight: bold;">Date of Birth</td>
                                            <td>   @Html.DisplayFor(model => model.DateofBirth)</td>
                                        </tr>
                                        <tr>
                                            <td width="100px" style="color: white; font-weight: bold;">Born</td>
                                            <td>   @Html.DisplayFor(model => model.Born)</td>
                                        </tr>
                                        <tr>
                                            <td style="color:white; font-weight: bold;">Height</td>
                                            <td>   @Html.DisplayFor(model => model.Height)</td>
                                        </tr>
                                        <tr>
                                            <td style="color: white; font-weight: bold;">Nationality</td>
                                            <td>   @Html.DisplayFor(model => model.Nationality)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="film-desc" style="padding-top: 15px; margin: 20px">
                    <div class="section-header">
                        Detail
                    </div>
                    <div id="summary">
                        <p class="collapse" id="collapseSummary">
                            <td>   @Html.DisplayFor(model => model.About)</td>
                        </p>
                        <p class="collapse" id="collapseSummary" style="padding">
                            <td>   @Html.DisplayFor(model => model.About)</td>
                        </p>
                        <a class="collapsed" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
                    </div>
                </div>
            </div>
            <div class="section-header">
                    movies have Joined
                </div>

        </div>
    </div>
    @Html.Action("Moviesjoined","Actors")
</div>

